httpobs @ git+https://github.com/dalf/http-observatory@master#egg=httpobs
celery>=5.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
flask>=2.2.5 # not directly required, pinned by Snyk to avoid a vulnerability
redis>=4.3.6 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
uwsgi>=2.0.22 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=2.3.8 # not directly required, pinned by Snyk to avoid a vulnerability